header {
  background-color: #1286F8;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 38px;
  padding: 0 10px; }
  header #links {
    display: flex;
    justify-content: space-between;
    width: 16%;
    align-items: center; }
    header #links #username {
      flex: 1; }
    header #links a {
      text-decoration: none;
      color: white;
      font-size: 20px; }
